.App {
  margin:0px;
  padding: 0px;
}
#main{
  display:flex;
  flex-direction: row;
  background-color: rgb(63, 42, 112);
}
.container{
  padding: 50px;
  padding-top:5px;
}

.app-container{
  flex: 80%;
  border-top-left-radius: 5px;
  background-color: rgb(223, 223, 241);
  padding: 50px;

}

